{% extends 'base.html' %}
{% load static %}


<!-- Add the static files to the header block -->
{% block header_extension %}
<link rel="stylesheet" type="text/css" href='{% static "chatbot/chatbot.css" %}'>
<script type="text/javascript" src="{% static 'chatbot/chatbot.js' %}"></script>
{% endblock %}

<!-- Add the index's content to the main header block -->
{% block body_extension %}

<div id="chatbot-title">
    <h1>ChatBot</h1>
</div>

<div id="warning">
    <h3>Warning: This  chatbot uses a free online AI model!</h3>
    <h5>This means your data may be stored and/or used for training.</h5>
    <h5>Do not enter any sensitive information.</h5>
</div>

<div id="chat-toolbar">
    <div class="toolbar-form-container">
        <form method="post" action="{% url 'chatbot:clear_history' %}">
            {% csrf_token %}
            <button type="submit" class="toolbar-button glass-container">Clear History</button>
        </form>
    </div>
    <div class="toolbar-form-container">
        <form class="toolbar-form" method="post" action="{% url 'chatbot:edit_model_system' %}">
            {% csrf_token %}
            <label>Change Type of Response</label>
            <div class="radio-container">
                <input type="radio" name="system_setting" value="concise" required {% if system_setting == 'concise' %}checked{% endif %}>
                <label>Concise</label>
            </div>
            <div class="radio-container">
                <input type="radio" name="system_setting" value="formal" {% if system_setting == 'formal' %}checked{% endif %}>
                <label>Formal</label>
            </div>
            <button type="submit" class="toolbar-button glass-container">Update</button>
        </form>
    </div>
    
</div>

<div id="chat-container" class="glass-container">

    <div id="chat-history">
        {% for item in chat_history %}
        <div class="{% if item.role == 'user' %}user{% else %}model{% endif %}">
            <p>{{ item.content }}</p>
        </div>
        {% endfor %}
    </div>
    
    <form id="chatbot-form" method="post" action="{% url 'chatbot:index' %}">
        {% csrf_token %}
        <textarea id="prompt" name="prompt" rows="10" cols="50" placeholder="Ask me something..."></textarea>
    </form>
   
</div>

{% endblock %}
